@mixin semaphore($color) {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;

  height: 32px;
  width: 32px;

  background-color: $color;

  cursor: pointer;
}

.semaphore-default {
  @include semaphore(orange);
}

.semaphore-ok {
  @include semaphore(#539628);
}

.semaphore-fail {
  @include semaphore(#882121);
}