<!DOCTYPE html>
<html class="no-js">
<head lang="en">
    <meta charset="UTF-8">
    <title>CMVP Seed (production)</title>
    <script src="/node_modules/requirejs/require.js"></script>
    <script src="build/cmvp-seed.min.js"></script>
    <link rel="stylesheet" href="build/css/cmvp-seed.min.css" />
</head>
<body>
<div ng-view></div>
<!-- script placeholder -->
</body>
<script>
        require(['main']);
</script>
</html>