<div ng-controller="MyController" ng-init="event.onLoad()">
    <span>Controller is {{ data.loaded }}</span>
    <h1>{{title}}</h1>
    <table>
        <tr>
            <td><div ng-include="'/templates/tomatoView.html'"></div></td>
            <td>
                <label for="currentId">Current Model Id</label>
                <input id="currentId" type="text" ng-change="event.onChangeModel(data.currentId)" ng-model="data.currentId" /><br />
            </td>
        </tr>
    </table>
    <hr />
    <div>
        {{ data.currentModel.text }}
    </div>
    <div style="color: red">
        {{ data.currentError }}
    </div>
    <hr />
</div>